#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.background {
  background-image: url('./assets/vecteezy_fresh-vegetables-and-herbs-arranged-in-a-circle_53631519.jpeg');
  background-size: cover;        /* fills entire screen */
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;                  /* full screen width */
  height: 115vh;                 /* full screen height */
  display: flex;
  flex-direction: column;
}
.sign {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding : 0.5rem 1rem;

}
.signin {
  font-weight: bold;
  color: white;
  background-color: #ff0000;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
}
.signup {
  font-weight: bold;
  color: white;
  background-color: #ff0000;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
}
.doordash {
  font-size: 2rem;
  font-weight: bold ;
  color: orangered;
  margin-top: 1rem;
}
.order{
  margin-top: 2rem;

}
.deli {
  font-size: 3rem;
  font-weight: bold ;
  color: orangered;
  margin-top: 1rem;
}
.fees {
  font-size: 1rem;
  color: orangered;
  margin-top: 0.5rem;
}